script#box-question(type='text/template')
	.box-question(data-id!='<%- _id %>')
		h3
			strong <%- question.replace(/\?+$/g, '') %>? 
				<% if(showUserFrom && showUserTo) { %>
				a(href!='/u/<%- userFrom %>') 
					small <%- userFrom %>  
				small ke
				a(href!='/u/<%- userTo %>') 
					small <%- userTo %>
				<% } else if(showUserFrom) { %>
				small dari 
				a(href!='/u/<%- userFrom %>') 
					small <%- userFrom %>  
				<% } else if(showUserTo) %>
				small dijawab 
				a(href!='/u/<%- userFrom %>') 
					small <%- userTo %>  
		<% if(typeof answer != 'undefined') { %>
		p.answer <%- answer %>
		<% } else if (typeof answer == 'undefined' && allowAnswer) { %>
		.uk-width-1-1
			a.btn-show-answer 
				small jawab
			.box-answer.hide
				form.form-answer.uk-form
					.form-wrapper
						.uk-width-1-1
							textarea.uk-width-1-1.answer(rows="2", spellcheck="false")
						.uk-width-1-1
							.form-footer
								button.uk-button.uk-button-primary.btn-answer(style="float: right", disabled) jawab
		<% } %>
