if (flash && flash.error)
	.uk-alert.uk-alert-danger(data-uk-alert) 
		a.uk-alert-close.uk-close(href="#")
		p.align-center= flash.error

if (flash && flash.info)
	.uk-alert(data-uk-alert)
		a.uk-alert-close.uk-close(href='#')
		p.align-center= flash.info