.form-login
	form.uk-form.uk-form-horizontal(action='/login', method='POST')
		.uk-form-row
			.uk-form-control.uk-width-1-2.uk-container-center
				input.uk-width-1-1(type='text', placeholder='Username', name='username', required)
		.uk-form-row.uk-width-1-2.uk-container-center
			.uk-form-control
				input.uk-width-1-1(type='password', placeholder='Password', name='password', required)
		.uk-form-row.uk-width-1-2.uk-container-center
			.uk-form-control
				button.uk-button.uk-button-primary.uk-width-1-1 Login