doctype html
html
	head
		title= title || 'Homepage'
		link(rel='stylesheet', href='/css/uikit.min.css')
		link(rel='stylesheet', href='/css/theme.css')
	body
		#wrapper
			.bg-primary
				block header
			.content
				block content

		block backbone_templates
			
		block scripts
			script(src='/js/jquery.min.js')
			script(src='/js/uikit.min.js')

