extends ../master.jade

block header
	- active_menu = 'dashboard'
	include ../blocks/logged-user-header.jade

block content
	.uk-width-1-1
		h3.align-center(style="margin:10px 0px 0px") kepoin nih
		ul.new-users
			each usr in users
				li
					a(href="/u/"+usr.username, data-uk-tooltip, title=usr.username)
						img(src="/img/avatar/"+usr.avatar)

	h3.align-center(style="margin: 10px 0px 0px; float: left; width: 100%")
		strong Pertanyaan Global
	#question-timeline(data-timeline='/json/timeline')
		ul.list-questions
		button.btn-loadmore.uk-button.uk-width-1-1 load more

block backbone_templates
	include ../blocks/backbone-box-question.jade

block append scripts
	script(src="/socket.io/socket.io.js")
	script(src="/js/underscore-min.js")
	script(src="/js/backbone-min.js")
	script(src="/js/app.util.js")
	script(src="/js/module/QuestionTimeline.js")
	script.
		var questionTimeline = new QuestionTimeline({
			el: '#question-timeline',
			enableAnswer: false,
			showUserFrom: true,
			showUserTo: true
		});

	script.
		var socket;

		function updateNotification(notif_selector) {
			return function(data) {
				var $notif = $(notif_selector);
				var count = parseInt($notif.text());

				if(isNaN(count)) count = 0;

				count += 1;

				if(count > 0) {
					$notif.show().text(count);
				} else {
					$notif.hide().text(count);
				}
			}
		}
	
		$(function() {
			questionTimeline.loadMore();
			$(".notif-question, .notif-answer").text(0).hide();

			socket = io.connect('/');

			socket.on('connect', function() {
				socket.on('check auth', function(data) {
					if(data.shouldRelogin) {
						relogin();
					} else {
						socket.emit('subscribe.questions');
						socket.emit('subscribe.question.notif');
						socket.emit('subscribe.answer.notif');
						socket.emit('subscribe.questions.answer');
					}
				});

				socket.on('should relogin', relogin);
				
				socket.on('ask', function(question) {
					questionTimeline.pushQuestion(question);
				});

				socket.on('answer', function(question) {
					questionTimeline.answerQuestion(question);
				});

				socket.on('notify question', updateNotification('.notif-question'));
				socket.on('notify answer', updateNotification('.notif-answer'));

			});
		})
		

	
