extends ../master.jade

block header
	- active_menu = 'home'
	include ../blocks/base-header.jade

block content
	include ../blocks/flash-info.jade

	hr.dashed
	div(style='text-align:center')
		p.
			Ini cuma aplikasi untuk test framework
			<strong>#{App.config('app.name')}</strong> gw
	hr.dashed
	h3.align-center Kalo baru nginstall register dulu nih
	include ../blocks/form-register.jade
	hr.dashed