extends ../master.jade

block header
	- active_menu = 'login'
	include ../blocks/base-header.jade

block content
	include ../blocks/flash-info.jade
		
	hr.dashed
	include ../blocks/form-login.jade
	hr.dashed