extends ../master.jade

block header
	- active_menu = 'register'
	include ../blocks/base-header.jade

block content
	include ../blocks/flash-info.jade

	hr.dashed
	include ../blocks/form-register.jade
	hr.dashed