@main-color: #00aad4;

@bg-body: #151515;
@bg-wrapper: #ffffff;

@text-color: #353535;

@count_cols: 12;

body {
	padding: 0px;
	margin: 0px;
	background-color: @bg-body !important;
	font-family: 'Helvetica', arial, sans-serif;
	color: @text-color;
	position: absolute;
	width: 100%;
	min-height: 100%;
}


// HELPER
.relativeBlock(@width: 100%, @float: left) {
	position: relative;
	display: block;
	width: @width;
	float: @float;
}

.border-box {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.box-shadow(@box-shadow) {
	box-shadow: @box-shadow;
	-o-box-shadow: @box-shadow;
	-ms-box-shadow: @box-shadow;
	-moz-box-shadow: @box-shadow;
	-webkit-box-shadow: @box-shadow;
}

.bg-primary { background-color: @main-color !important; color: #ffffff; }

.align-left {
	text-align: left !important;
}
.align-center {
	text-align: center !important;
}
.align-right {
	text-align: right !important;
}

hr.dashed {
	border-style: dashed;
}

// LAYOUT

.user-header {
	.relativeBlock(100%);
	.border-box;
	text-align: center;
	padding: 20px;
	min-height: 200px;

	img.avatar {
		margin-top: 20px;
		width: 108px;
		height: 108px;
		border-radius: 100px;
		border: 5px solid #fff;
	}

	.username {
		margin: 0px;
	}

	.viewer {
		position: absolute;
		width: 56px;
		height: 56px;
		left: -112px; right: 0; top: 0px; bottom: 0;
		margin: auto;

		img.avatar {
			width: 100%;
			height: 100%;
			margin: 0px;
			border: 5px solid #fff;
		}
	}
}

.hide {
	display: none !important;
}

ul.new-users {
	text-align: center;
	width: 100%;
	padding: 0px 0px 15px;
	float: left;
	clear: both;
	border-bottom: 1px dashed #e0e0e0;

	li {
		display: inline-block;
		margin: 0px 5px;

		> a {
			display: inline-block;
			width: 42px;
			height: 42px;
			border-radius: 50px;
			overflow: hidden;
			border: 3px solid #fff;

			> img {
				width: 100%;
				height: 100%;
			}

			&:hover {
				border-color: @main-color;
			}
		}
	}
}

#wrapper {
	width: 420px;
	margin: 70px auto;
	background: @bg-wrapper;

	.title {
		text-align: center;
		margin: 20px;
		font-size: 32px;
	}

	> div {
		.relativeBlock(100%);
		.border-box;
		background: #ffffff;
	}

	.content {
		padding: 10px;
	}

	ul.main-menu {
		.relativeBlock(100%);
		padding: 0px;
		margin: 0px;
		text-align: center;
		> li {
			display: inline-block;
			> a {
				display: inline-block;
				padding: 6px 12px;
				font-size: 16px;
				background: darken(#ffffff, 5%);
				color: @text-color;
				text-decoration: none;
			}

			&:hover:not(.uk-active) {
				> a {
					background: darken(#ffffff, 8%);
				}
			}

			&.uk-active {
				> a {
					background: #ffffff;
				}
			}
		}
	}
}

.form-question, .form-answer {

	.relativeBlock(100%);

	.label {
		margin: 10px 0px 0px;
	}

	> .form-wrapper {
		.relativeBlock(100%);

		textarea {
			border-radius: 0px;
			padding: 10px 10px 60px 10px;
			min-height: 120px;
		}

		.form-footer {
			margin: -50px 2%;
			.relativeBlock(96%);
			.border-box;
			padding: 10px 0px;
			border-top: 1px dashed #ddd;

			.info-charleft {
				display: inline-block;
				font-size: 14px;
				padding: 5px;
			}			
		}
	}

}

ul.list-questions {
	margin-top: 10px;
	
	.relativeBlock(100%);
	padding: 0px;

	li {
		list-style-type: none;
		.relativeBlock(100%);
		margin-bottom: 5px;
	}
	
	.box-question {

		.relativeBlock(100%);
		.border-box;
		padding: 10px;
		
		h3 {
			margin: 0px 0px 0px;
		}

		p {
			margin: 0px;
			font-size: 16px;
		}

		&:hover {
			background: #f7f7f7;
		}

	}

}