doctype html
html
	head
		title= title
	body
		h1= bar || "asda"
		script(src="/socket.io/socket.io.js")
		script.
			var socket = io.connect();

			window.onload = function() {
				socket.on("message", function(data) {
					console.log(data);
				})
			}

